[2021-12-05 01:22] manoelcfeliciano opened #1 "Are there any plans to finish this library?"
Hello @cmaycumber,

I wonder if you have any plans to finish this config plugin and also if you need any help to do so.

Bests.

[2021-12-05 01:34] cmaycumber commented on #1
Yes, definitely! I finished the logic about a week ago in our production application.

I'll try to push the rest tomorrow. Help improving it would always be greatly appreciated!

[2021-12-05 15:47] cmaycumber commented on #1
@manoelcfeliciano I just published this package to npm. You can install it at `yarn add config-plugin-react-native-intercom`.

Would love to get some feedback. If you have a chance to test it.

[2021-12-05 15:50] manoelcfeliciano commented on #1
That is great @cmaycumber ! Thanks a lot for the quick response. I will test it in my application and will give you some feedback. 😄

[2021-12-05 16:10] manoelcfeliciano commented on #1
Sorry to bother you with this, but I am getting the following error:

[code]

I have configured my app.json properly:

[code]

Do you have any clue what might be happening?

[2021-12-05 16:38] cmaycumber commented on #1
Not off the top of my head. I'm currently using an `app.config.ts` file, not the app.json so the implementations are a little different. Can you share you're generated AppDelegate.m by any chance?

[2021-12-05 16:45] cmaycumber commented on #1
I'll make an example app in the repo later today so that I can test this as well.

[2021-12-05 18:59] manoelcfeliciano commented on #1
Sure, I am using a Expo app created from scratch as a POC so it should be easy to isolate problems. I created a gist so you can take look at the file here:

https://gist.github.com/manoelcfeliciano/a4a9d8b3e1867520bf7c800c7f17444f

Thanks upfront for the help!

[2021-12-08 18:39] cmaycumber commented on #1
@manoelcfeliciano Have you tried creating your POC app with the actual values in it by any chance?

I recently changed our use of the plugin to mirror the `.json` version of app.config.ts. Here's what my current config plugins look like:

[code]

Everything seems to be working fine for me. I'll probably have some time to put together the example app tonight to see if I can debug this for you.

[2021-12-08 21:22] manoelcfeliciano commented on #1
I did that already actually. I will share my POC with you, maybe it helps.

https://github.com/manoelcfeliciano/expo-poc

Note that in the repo I am using "secret" as values, but I am changing it locally to test.

[2021-12-10 12:54] te-online commented on #1
@manoelcfeliciano I think your issue is that you did not build the custom development client. I reach this very same error after simply running `expo start`. But if you run `expo run:ios` (for example) first, expo will take some minutes to create a new development client. See [this section in expo docs](https://docs.expo.dev/development/getting-started/#customizing-your-runtime) that mentions this

[2021-12-10 15:12] manoelcfeliciano commented on #1
Silly me... You are totally right! This fixed for me. Thanks for the heads up! 👌😀

[2021-12-11 17:05] #1 closed

[2021-12-14 07:24] TrustyTechSG opened #2 "Call any intercom JS Api show "Something went wrong" on Intercom's window"
Hi there, I have added this config plugin include intercom apiKey and appId and built with expo eas build, everything fine with the building process and import of @intercom/intercom-react-native in JS, but when call any of intercom's API, like Intercom.displayMessenger(), shows "Something went wrong", am I miss anything? Great thanks~

![WechatIMG21](https://user-images.githubusercontent.com/36871

[2021-12-14 07:42] TrustyTechSG commented on #2
My fault, looks like its simply just need to call register user API like registerUnidentifiedUser before other API call. Closing this.

[2021-12-14 07:42] #2 closed

[2021-12-14 11:16] SergeWilfried opened #3 "Add Support for Intercom Push Notifications"
Thanks for this package. I was wondering if you had plan to add Push Notifications to it ?

[2021-12-14 11:18] cmaycumber commented on #3
Yeah it should be simple! I'll try to add those in tonight!

[2021-12-14 11:20] SergeWilfried commented on #3
Awesome thanks !

[2021-12-14 14:23] cmaycumber commented on #3
In the meantime if you want to add this in now you can do something like this:

[code]

[2021-12-14 15:34] SergeWilfried commented on #3
Looks great ! But I am wondering if the firebase messaging config will work with the current setup.

[2021-12-20 06:38] jseitel opened #4 "iOS build failing - RCTEventEmitter errors"
Hi there, was hoping to integrate intercom into my Expo app but ran into an issue creating a development build on Expo EAS.  Seems as if there's a dependency missing in the iOS project. Here's the output from the Fastlane logs:

[code]

Unfortunately I'm very new both to RN and Expo, so I'm probably of limited use figuring out what's going on, but please let me know if I can do anything to help.

[2021-12-20 10:37] GautierT commented on #3
Hi @cmaycumber
What is the `deviceToken` that you talk about ?

Thanks a lot.

[2021-12-20 10:45] GautierT commented on #3
For expo I get it like that ?
https://docs.expo.dev/push-notifications/push-notifications-setup/

[code]

[2021-12-20 10:47] GautierT commented on #3
And an other question :
What should I enter here on Intercom settings ?
![image](https://user-images.githubusercontent.com/6089653/146755352-081a794d-6b6e-4ed1-949a-f3d7a1f86c12.png)

[2021-12-20 12:44] GautierT commented on #3
The devicePushToken is from `await Notifications.getDevicePushTokenAsync()`

[code]

[2021-12-20 14:18] cmaycumber commented on #3
This is correct. I can send more of my implementation if need be; this shouldn't be an issue once it get's added to the normal setup.

[2021-12-20 14:20] cmaycumber commented on #4
Thanks for pointing this out. I'll try to look into this. What version of `expo` and `@intercom/react-native-intercom` are you currently on?

[2021-12-20 18:29] jseitel commented on #4
I'm on expo 44.0 and @intercom/react-native-intercom 1.1.1.  I dug in a little bit, here's what I found:

* Step one, I removed all intercom stuff, did an `expo prebuild` and tried build in Expo. Everything worked!
* Step two, added back the intercom code (with the config plugin), ran `expo prebuild` again -> failed with same errors as above
* Step three, tried downgrading the versions of @interco

[2021-12-20 18:34] jseitel commented on #4
I'll also mention, I then tried editing some of the native files directly to see if I could coerce intercom into working, but every time I solved one missing dependency it would choke on another further down the tree. Unfortunately I don't know enough about the underlying packages to poke much deeper than that.

[2021-12-20 18:52] cmaycumber commented on #4
Are you using yarn v2 by any chance? The newer versions of expo-module-linker might have an issue with auto-linking modules with yarn v2.

This might not be the issue, but I do know that expo v44 requires a newer version that was causing our project to fail.

[2021-12-20 19:22] jseitel commented on #4
Nope, I'm on yarn 1.22.10.  Would recommend trying expo 43 to see if it resolves the issue?

[2021-12-20 19:52] jseitel commented on #4
Just tried with expo 43, no issues.  Thanks for your help man.  Would you prefer I keep this issue open for tracking or close it?

[2021-12-21 04:00] cmaycumber commented on #4
Yeah let's keep it open. I'm going to be keeping an eye out for a fix, hopefully the issue resolves itself soon

[2021-12-26 09:33] SergeWilfried opened #5 "IOS Build Failing"
IOS Build is failing with the following error :

[code]
**Installed**

- Expo-cli@4.4.4
- Expo SDK 43
- Device IPhone 13

[2021-12-29 10:22] dmdmd commented on #2
@TrustyTechSG would you mind showing how you solved your issue? I still get the same error when doing this:
[code]

[2022-01-04 21:38] manoelcfeliciano commented on #5
Hi @SergeWilfried, please refer to the following issue:

https://github.com/cmaycumber/config-plugin-react-native-intercom/issues/1

I was having the same problem, and fixed by following the suggestion made there.

[2022-02-01 11:37] PiotrSzlagura commented on #3
@cmaycumber Hi, do I understand correctly that while using this package, the only thing to do is `Intercom.sendTokenToIntercom(devicePushToken);` and Intercom push notifications should work, both on Android and iOS?

[2022-02-01 20:15] cmaycumber commented on #3
@PiotrSzlagura Yes, that's correct

[2022-02-02 11:42] Chris-Beckett opened #6 "TypeError: null is not an object (evaluating 'IntercomEventEmitter.UNREAD_COUNT_CHANGE_NOTIFICATION')"
I'm currently trying to include the carousel from intercom and i'm getting the intercomEventEmitter issue. I'm using Expo to build the React Native application.

[code]

**Code i've tried running:**

[code]

[code]

**Error:**

[2022-02-02 11:55] Chris-Beckett commented on #5
Were you have the issue when trying to run through the `npm run android` via `Metro` and the solution is to using `expo run:android` instead?

[2022-02-08 13:18] AndrewIngram commented on #4
This issue popped up as soon as I tried upgrading to Expo 44, it was working perfectly in 43.

[2022-02-08 13:19] cmaycumber commented on #4
I recently upgraded to expo 44. I think it required me updating the @intercom/react-native-intercom package as well.

Let me know if that solves it.

[2022-02-08 13:22] AndrewIngram commented on #4
Do you know what version of that package you have? I tried upgrading to the lasted, but that's a major version (1->2) change and it seemed to break even more.

[2022-02-08 13:24] cmaycumber commented on #4
I'll shoot over my package.json. Also make sure you're running pre-build beforehand, there's been some weird scenarios where I need to delete the iOS/Android folders because of caching as well.

[2022-02-08 14:01] AndrewIngram commented on #4
I think I managed to get it to build with 1.1.1. Looks like 2.x isn't possible without increasing the min iOS version, is that even possible with expo?

[2022-02-08 14:09] cmaycumber commented on #4
Hey sorry, you're right I'm pinned at `"@intercom/intercom-react-native": "1.1.1",`

[2022-02-15 11:53] m1st1ck opened #9 "Android - No virtual method toString(Z)Ljava/lang/String; in class Lokhttp3/Cookie; or its super classes (declaration of 'okhttp3.Cookie' appears in base.apk!classes5.dex)"
We are getting a lot of error - `No virtual method toString(Z)Ljava/lang/String; in class Lokhttp3/Cookie; or its super classes (declaration of 'okhttp3.Cookie' appears in base.apk!classes5.dex)`. I could not really reproduce it on my of the Android devices I have access to.

The solution is on intercom installing guide, however I am not sure how to add it with config plugin.
https://developers.in

[2022-02-15 14:19] cmaycumber commented on #9
Thanks for pointing this out. I think it should be an easy fix.

[2022-02-15 14:22] cmaycumber commented on #6
I personally haven't tried the displayCarousel method. I'm using `Intercom.displayMessenger();`. Do you know if these work separately?

Do you think it could be related to this in Intercoms docs?

[code]
https://developers.intercom.com/installing-intercom/docs/react-native-configuration

[2022-02-15 14:59] Chris-Beckett commented on #6
Hey @cmaycumber

I've tried all the different methods such as `Intercom.displayMessenger();` and it's just throwing up

[code]

[2022-02-15 15:03] cmaycumber commented on #6
[code]

So a totally managed build? Or are you using the config plugins? Before building the iOS or Android application make sure to run `expo prebuild`

[2022-02-15 15:06] cmaycumber commented on #6
I'm pinned at `"@intercom/intercom-react-native": "1.1.1",` and on expo v44.

[2022-02-16 10:28] Chris-Beckett commented on #6
My steps are to do

`npm run android` and it boots up metro and runs through the expo application while testing. Then to test standalone i'm running `expo build:android --release-channel="development"`

[2022-02-18 10:21] volesen opened #10 "`pod install` fails with deployment target < 13 for newest Intercom version"
Using `@intercom/intercom-react-native: "2.x"` and running a new Expo 44 SDK project from template creates the following error on the `pod install` step of `expo prebuild`:

`Specs satisfying the 'intercom-react-native (from '../node_modules/@intercom/intercom-react-native')' dependency were found, but they required a higher minimum deployment target.`

I reckon a fix is to bump the deployment tar

[2022-02-20 14:17] cmaycumber commented on #10
I'm going to try to give this a shot today. I'm not sure how dangerous that is or if it's possible currently. I'll let you know once I give it a shot. In the meantime I'd recommend moving to `1.1.1`. If it's not building

[2022-02-20 14:19] cmaycumber commented on #5
Going to close this because it seems solved in #1.

[2022-02-20 14:19] #5 closed

[2022-02-20 17:09] cmaycumber commented on #9
Should be solved in the latest version `1.0.3`

[2022-02-20 17:09] #9 closed

[2022-02-20 17:10] cmaycumber commented on #4
Going to close this for now and track the issue of bumping the min iOS version in #10

[2022-02-20 17:10] #4 closed

[2022-02-20 17:12] cmaycumber commented on #3
Going to start tracking this here #11

[2022-02-20 17:12] #3 closed

[2022-02-20 17:53] cmaycumber commented on #10
Try installing the latest version of the plugin `1.1.0` and using the flag `experimentalBumpMinIosPlatformVersion: true` in the config!

[2022-02-20 17:53] #10 closed

[2022-03-07 15:24] m1st1ck opened #14 "Could not find method implementation() for arguments [com.squareup.okhttp3:okhttp-urlconnection:4.9.1] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler."
I upgraded from version 1.1.0 to 1.1.2 and my android eas build started failing.

Could not find method implementation() for arguments [com.squareup.okhttp3:okhttp-urlconnection:4.9.1] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler.

[2022-03-07 15:34] cmaycumber commented on #14
Thanks for pointing this out. I'll take a look at this today.

[2022-03-11 09:56] SergeWilfried opened #15 "TypeError: null is not an object (evaluating 'IntercomEventEmitter.UNREAD_COUNT_CHANGE_NOTIFICATION')"
I'm getting the intercomEventEmitter issue. I'm using Expo to build the React Native application.

[code]

Error

[code]

[2022-03-14 16:55] maxipetrucci commented on #15
Same here! Also tried with old versions of package and plugin

[2022-03-15 09:23] Chris-Beckett commented on #15
This issue is already open in the current issue: https://github.com/cmaycumber/config-plugin-react-native-intercom/issues/6

[2022-03-15 09:24] Chris-Beckett commented on #6
@cmaycumber You got any updates on what this could be?

[2022-03-15 13:32] cmaycumber commented on #15
@SergeWilfried Can you try using `Intercom.displayMessenger();` and let me know if that also has the problem?

[2022-03-15 13:33] cmaycumber commented on #15
Also make sure when you install the package to run a fresh `expo prebuild --clean`.

[2022-03-15 13:34] cmaycumber commented on #14
@m1st1ck Can you try the latest version of the plugin?

[2022-03-15 13:35] cmaycumber commented on #6
@Chris-Beckett I'll try to see if I can get to the bottom of this somehow. Would it be possible for you to clone this repo and try running the example app?

[2022-03-15 15:42] koukoujohn opened #16 "Expo SDK 44 eas build for Android fails at prebuild: config_plugins_1.AndroidConfig.Version.setMinBuildScriptExtVersion is not a function"
"expo": "^44.0.6",
Expo managed: yes
expo cli version: 5.3.0
eas cli version: eas-cli/0.48.0 win32-x64 node-v14.17.6
"@intercom/intercom-react-native": "^2.1.0"
"config-plugin-react-native-intercom": "^1.2.0"

First of all thenk you for the config plugin it's invaluable in my case. I will try in the future to learn how config plugins work so that I can contribute to your project too.

I followed t

[2022-03-15 15:46] m1st1ck commented on #14
@cmaycumber I've updated to 1.2.0 and I still get the error
[code]

Not sure if it is relevant but I am using

"expo": "^43.0.0",
"@intercom/intercom-react-native": "^1.1.1",
"config-plugin-react-native-intercom": "^1.2.0",

[2022-03-15 15:51] cmaycumber commented on #14
Got it. Can you try running `expo prebuild --clean`?

I think it could also be that's it's not backward compatible with v1.1.1 of the @intercom/intercom-react-native package.

I can fix this if you don't want to upgrade.

[2022-03-15 17:31] cmaycumber commented on #6
@koukoujohn From my understanding, this happens when `@intercom/intercom-react-native` doesn't link properly. Is it possible to share your versions?

I'd try to see if running the example app fixes this. But I'll have some time to look into this some more tonight.

[2022-03-15 17:51] koukoujohn commented on #6
This is what I get by running eas diagnostics on my environment:
---------------------------------------------------------------------------

EAS CLI 0.48.0 environment info:
    System:
      OS: Windows 10 10.0.19044
    Binaries:
      Node: 14.17.6 - C:\Program Files\nodejs\node.EXE
      npm: 6.14.15 - C:\Program Files\nodejs\npm.CMD
    Utilities:
      Git: 2.33.0. - /mingw64/bin/git
    np

[2022-03-16 09:53] koukoujohn commented on #6
Unfortunately I couldn't build the example app.

In android during gradlew stage I got this fail error:

xecution failed for task ':expo-updates:kaptDebugKotlin'.
[stderr] > A failure occurred while executing org.jetbrains.kotlin.gradle.internal.KaptExecution
[stderr]    > java.lang.reflect.InvocationTargetException (no error message)

And in iOS I didn't have access make a new adhoc app right now

[2022-03-16 10:05] koukoujohn commented on #16
Could this have something to do with the fact that expo SDK 44 is targeting Android SDK 30?
And in order to use intercom 2.1.0 you have to target SDK 31.

source https://github.com/intercom/intercom-react-native/releases :
---------

Features:
We’ve added Suggested Articles to your Homescreen! Provide a better self-serve experience to your users by enabling them to answer their question before the

[2022-03-16 12:20] Snothy commented on #16
My solution was to just install config-plugin-react-native-intercom@1.1.2. The function isn't executed in that version. I guess it doesn't exist in the version of expo we're using.

[2022-03-16 14:46] cmaycumber commented on #16
I think you're right here. I'm curious if downloading the latest version of the `@expo/config-plugins` library would fix this for you.

I might also be able to check for the version of the plugin to prevent this.

[2022-03-16 15:59] cmaycumber commented on #14
Do you think me checking for the existence would help you at all? Maybe I can run a check to make sure it doesn't get double imported. I just ran a fresh build of the example app and was able to get android running.

[2022-03-16 15:59] cmaycumber commented on #16
@koukoujohn Can you check the version of `@expo/config-plugins` installed on your repo? I just pushed an update that forces the latest version as a dev dependency.

[2022-03-16 16:01] cmaycumber commented on #6
Thanks, I'll try a totally fresh repo. To see if I can reproduce this.

[2022-03-17 11:04] koukoujohn commented on #16
I can confirm that version 1.2.1 with the latest changes passed the prebuild stage and completed the build succesfully for Android EAS (managed) 😄 .

I used "@intercom/intercom-react-native": "^2.0.3" as in the example app. And in my eas.json build profile i put
"image": "latest" (I don't know if this matters but it solved some other build issues I had)

Also the UNREAD_COUNT_CHANGE_NOTIFICATION i

[2022-03-17 13:17] #16 closed

[2022-03-17 13:18] cmaycumber commented on #6
@koukoujohn mentioned that this issue was fixed for him in the latest version after an `expo prebuild`, can you give this a shot? @Chris-Beckett

[2022-03-17 13:51] koukoujohn commented on #6
@cmaycumber It works on Android expo dev client (therefore also for Android production). It still insists on iOS.

I think I pinpointed the reason for this message on my iOS though!

What was happening and I just realised today, is that with eas build --platform ios the app was building just fine,
but when I was installing it through ios adhoc the installation was silently failing.

It wasn't show

[2022-03-18 10:54] Chris-Beckett commented on #6
@cmaycumber I've got it working with the pre-build and building the android/ios folders.

I would trying to run without building etc and trying to use the simple "npm run android" when you first set up expo.

However when trying to use `Intercom.displayMessager()`  - every time it opens, it says "Something went wrong, give it another try"

[2022-03-18 13:54] cmaycumber commented on #6
I can share some of the code we're using. But that's really up to you on whether you want to register unidentified or identified users when they login. Like you said early you should only have to run this once but you can run it every time the user opens the app, I don't think intercom is picky about that.

[2022-03-18 14:48] Chris-Beckett commented on #6
That would be awesome, if you could share some code. I would love to see how you've structured it compared to how I'm going to structure it.

[2022-03-18 21:19] koukoujohn commented on #6
@Chris-Beckett sorry I didn't come across this issue. Does it stop fastlane and fail the build?

I will try to build iOS again to check if I get it. It might be something wrong in the expo side.

Im guessing you are trying to build with EAS servers with a managed workflow right? Else try deleting package-lock and node-modules and re-installing(actually try this anyway)

About the Intercom register

[2022-03-18 21:29] koukoujohn opened #17 "New feature: Add Data Hosting Region Configuration"
For iOS, Intercom has some settings for users that want to use Data Hosting in Europe.

In iOS you can do that with changing the config plugin. Specifically for Expo users(!!) you just add this line in infoPlist in app.json:
-------
[code]

But for Android you need to add lines to the AndroidManifest:
-----
[code]

Would it be possible to add it (as an option) in the next version?
Here is the sour

[2022-03-18 22:26] Chris-Beckett commented on #6
I think there is a problem with my build anyway, it works in development client but soon as I try and build with EAS it crashes on trying to load the application and not sure what the best way is to try and debug as it runs fine every time building straight to device with development client.

[2022-03-20 17:52] m1st1ck commented on #14
I am not really sure what would be the best solution... Maybe somehow target the last occurrence of  "dependencies {" and inject it there. For me just changing the order of the config plugins is okay right now, since once we have RN 0.65 we won't need to add the `implementation("com.squareup.okhttp3:okhttp-urlconnection:4.9.1")`.

I create clean/blank project `expo init ...` and was able to narrow

[2022-03-21 13:24] cmaycumber commented on #6
You can give flipper a shot: https://fbflipper.com/docs/features/react-native/. Also, another way to debug crashes on startup is through either `abd` for android, there's also one for iOS but can't think of it off the top of my head.

[2022-03-23 21:44] koukoujohn commented on #6
@Chris-Beckett sorry for the late response

Sure my discord handle is koukoujohn text me when you can, but I have to say that for react native debugging I only have knowledge of reactotron as a debugging tool. I haven't used other debugging tools yet. I hear good things about flipper too and that it's a rising star!

[2022-03-24 12:23] Chris-Beckett commented on #6
Thanks I will try reactotron and flipper to see what I can resolve :) - Hopefully have intercom working on my app very soon :)

I couldn't find you on discord as i need the # numbers aswell.

Mine is ChrisssyyyB#2477 - if you want to ping me a message.

[2022-03-26 23:57] koukoujohn opened #18 "EAS build (managed) fails at pre-build stage android + ios"
It seems that some change from the expo side (maybe filesystem) makes the plugin fail at prebuild.

What I get from android prebuild EAS:
----

- Config syncing
✖ Config sync failed
[stderr] [23:23:15] [android.mainApplication]: withAndroidMainApplicationBaseMod: Cannot find module './Package'
[stderr] Require stack:
[stderr] - /home/expo/workingdir/build/node_modules/config-plugin-react-native-in

[2022-03-27 00:03] cmaycumber commented on #18
Thanks, let me take a look at this.

[2022-03-28 14:59] koukoujohn commented on #18
@cmaycumber It seems it resolved by itself and today it's building normally.

Do you have any idea what could have caused the above errors during prebuild? Something with the dependencies the plugin uses?

I'm closing this ticket.

[2022-03-28 14:59] #18 closed

[2022-03-28 15:15] cmaycumber commented on #18
I'm thinking maybe it was a conflicting package? Or maybe the intercom package got a new version.

Let me know if you find anything out!

[2022-03-30 12:36] Chris-Beckett commented on #6
@cmaycumber @koukoujohn  - I've got the app working without the crashing, however it's calling all the intercom methods fine and I'm getting `true` on the promise response from like `displayMessager()`. However the messager isn't poping up, it's doing nothing.

Any ideas?

[2022-03-31 05:33] daytonellwanger opened #19 "Support for managed workflow"
Are there any plans to support the Expo managed workflow?

[2022-03-31 11:15] cmaycumber commented on #19
By managed workflow do you mean without using the dev client?

Currently, expo config plugins only work with apps using dev client so that you can add custom native code.

[2022-04-01 05:07] daytonellwanger commented on #19
Expo docs [here](https://docs.expo.dev/introduction/managed-vs-bare/).

Actually revisiting the differences on the latest version of Expo, there don't seem to be very many serious ones. I was worried that I wouldn't be able to use the Expo client to test my app via `expo start`, or that OTA updates wouldn't be supported once "ejecting". But it looks like maybe the only thing the managed workflow r

[2022-04-01 05:07] #19 closed

[2022-04-11 13:32] cmaycumber commented on #6
@Chris-Beckett Are you able to provide any logs or anything?

[2022-04-11 13:33] cmaycumber commented on #17
@koukoujohn Sorry this has taken so long to get it. I'm going to try to get something up tonight

[2022-04-27 07:55] koukoujohn commented on #6
@Chris-Beckett sorry I didn't do something else other what's in the instructions of @cmaycumber and the instructions in intercom's site for react native developers! When I used the displayMessenger() it worked. Make sure you have a paying account with intercom and that you have followed all of their instructions(register users when authentication flow finishes etc.). I also am using intercom react

[2022-05-04 11:23] lindanip opened #20 "Plugin not connecting to intercom"
Hey, I unable to set this plugin on my expo project following the README instruction. I get this message from intercom
"Intercom isn’t installed for your Android app yet".

[2022-05-04 15:51] lindanip commented on #20
Im am using expo managed workflow. Is it possible work with this package on the managed workflow?

[2022-05-06 13:04] GabrielDierks opened #21 "EAS build failing for iOS"
I installed the `@intercom/intercom-react-native`package and config plugin with the setup in the` app.json`. Running it locally with expo prebuild works perfectly fine on android and iOS.

But once I build the app using eas build for iOS the Fastlane pipeline keeps crashing, right after finishing the Archive. The exception is:

`Uncaught Exception: -[NSNull path]: unrecognized selector sent to ins

[2022-05-06 13:07] cmaycumber commented on #20
Are you using the dev-client by any chance? This plugin should only be used with the dev client which requires you running expo run:ios.

[2022-05-06 13:59] GabrielDierks commented on #21
Hey, thanks for the quick response!

Running on expo@44.0.6
`eas-cli/0.49.0 darwin-arm64 node-v16.14.2`
`@intercom/intercom-react-native@3.0.3`
`config-plugin-react-native-intercom@1.2.1`

eas build config:

`		"preview": {
			"distribution": "internal",
			"ios": {
				"enterpriseProvisioning": "adhoc",
				"cocoapods": "1.11.2" // needed for
			}
		},`

[2022-05-06 14:33] GabrielDierks commented on #21
Amazing!! It worked with `@intercom/intercom-react-native 2.0.3`! Thanks for that quick heads up and you looking into it! Made my Friday!! 😎

[2022-05-07 00:12] TrustyTechSG opened #22 "iOS Prebuild failed on Expo 45 [Cannot add Intercom code to AppDelegate of language "objcpp"]"
Hi, Im facing this error with EAS build after upgraded the below 3 packages, anyone know where goes wrong? thank you~

"@intercom/intercom-react-native": "^3.0.3",
"config-plugin-react-native-intercom": "^1.2.1",
"expo": "^45.0.0",

[stderr] [16:53:05] [ios.dangerous]: withIosDangerousBaseMod: Cannot add Intercom code to AppDelegate of language "objcpp"
[stderr] [16:53:05] Error: [ios.dangerous]:

[2022-05-07 13:43] cmaycumber commented on #22
I think this could be related to this issue: #21

I should be able to debug it this weekend but a possible fix might be downgrading to react-native-intercom v2 if you don't need the survey feature

[2022-05-08 23:38] TrustyTechSG commented on #22
Hi there, thank you for the reply, I tried downgrade @intercom/intercom-react-native to 2.0.3, but still facing the exact same error as above with EAS build. 😭

[2022-05-09 05:36] lindanip commented on #20
No I wasn't using it, I'll install it and try again

[2022-05-10 13:42] cmaycumber commented on #22
Going to take a look at this today! Any chance you can test it with the expo 44 SDK to see if that's the issue?

[2022-05-10 17:10] GabrielDierks commented on #22
Can confirm that it worked for me with SDK 44 and `@intercom/intercom-react-native to 2.0.3`!

[2022-05-10 22:27] bpringe opened #23 "Expo install replaces existing plugins in app.json"
I'm not sure if this is a problem with `expo install` or with this plugin's configuration/implementation, but when I run the command to install the plugin with `expo install`, it replaces the plugin I already had in my app.json file with this plugin, rather than adding it alongside my existing plugin.

![image](https://user-images.githubusercontent.com/12722744/167732013-531dc0fe-34bb-4da3-bf8f-5c

[2022-05-11 01:38] TrustyTechSG commented on #22
Hi @cmaycumber, just tried simply change expo SDK from 45.0.2 to 44.0.0, then the build at least passed the EAS pre-build stage. (SDK 45 failed during EAS pre-build every time)

[2022-05-11 01:44] cmaycumber commented on #21
@GabrielDierks If you'd like to use expo 45 and the newest version of Intercom you can install the newest version!

[2022-05-11 01:44] #21 closed

[2022-05-11 01:45] cmaycumber commented on #22
The newest version here: `"config-plugin-react-native-intercom": "1.3.0"` should fix the issues!

[2022-05-11 01:45] #22 closed

[2022-05-11 01:46] cmaycumber commented on #20
@lindanip Were you able to figure it out?

[2022-05-11 01:47] cmaycumber commented on #6
Going to close this for now feel free to comment on the issue if you still have problems!

[2022-05-11 01:47] #6 closed

[2022-05-11 01:48] cmaycumber commented on #17
@koukoujohn This should be added in the latest version! Just use `intercomEURegion: true` in the config settings

[2022-05-11 01:48] #17 closed

[2022-05-11 01:50] cmaycumber commented on #14
@m1st1ck Are you still having this issue by any chance?

[2022-05-11 04:40] TrustyTechSG commented on #22
Yes, build passed with 1.3.0, big thanks~~ you make my day : )

[2022-05-11 12:18] cmaycumber commented on #14
Gonna close this feel free to comment so I can reopen if I can help!

[2022-05-11 12:18] #14 closed

[2022-05-11 12:19] cmaycumber commented on #20
Gonna close this for now. Let me know if you still have trouble setting it up I may be able to help!

[2022-05-11 12:19] #20 closed

[2022-05-11 13:15] maxenceg opened #24 "Expo prebuild command fails"
Hi!

I have an error whenever I run `expo prebuild`
I'm in a managed workflow of an expo project, and when I run the command `expo prebuild`, I get the following error:
"[ios.dangerous]: withIosDangerousBaseMod: Cannot add Intercom code to AppDelegate of language "objc""

![image](https://user-images.githubusercontent.com/38657323/167858705-54377f68-f4f9-47e7-94c7-ed6f9face846.png)

Is there somet

[2022-05-11 13:17] cmaycumber commented on #24
@maxenceg What version of Expo are you using? I'm thinking the error is due to using version 44 w/ version 1.3.0 of the plugin

[2022-05-11 13:17] cmaycumber commented on #24
If you'd like to use version 44 of Expo, downgrading the plugin to version 1.2.3 might fix the issue

[2022-05-11 13:21] maxenceg commented on #24
@cmaycumber Thanks for the fast answer!!

I'm using version 1.3.0 indeed
However, I can't install version 1.2.3 as there's no match found

I'll try 1.2.1

[2022-05-11 14:21] maxenceg commented on #24
Alright, thanks for your help 😊

[2022-05-11 14:21] #24 closed

[2022-05-16 11:34] koukoujohn commented on #17
@cmaycumber you are awesome!!

Quick fix in the README it says "intercomEURegion": "Upload to support center"     instead of true 😅

[2022-05-16 15:32] cmaycumber commented on #17
Good spot thanks! I'll get this tweaked. I'm glad you figured out it was supposed to be true haha

[2022-06-02 17:49] GabrielDierks opened #25 "Push notifications not working on android"
I cannot receive push notifications on android. On iOS I only made it work by using the "secret" key in in the app.json `isPushNotificationsEnabledIOS` (secret because its not in the readme 😁 )

Using:

    "@intercom/intercom-react-native": "^3.0.3",
    "config-plugin-react-native-intercom": "^1.4.3",
    "@react-native-firebase/messaging": "^14.5.1"

[2022-06-03 14:28] Talent-Roy opened #26 "how to setup intercom with config-plugin-react-native-intercom"

[2022-06-03 15:08] GabrielDierks commented on #25
That would be awesome! You could make it another optional parameter in the config and warn in the readme about the side-effects! And for the iOS I can confirm it is working in production 😁 Glad to be part of the tester squad!

[2022-06-05 04:58] #26 closed

[2022-06-08 10:32] DjordjePetrovic opened #27 "Cannot destructure property 'iosApiKey' of 'props' as it is undefined."
Getting -> Cannot destructure property 'iosApiKey' of 'props' as it is undefined.

With the latest version of the lib.

Installed with yarn add config-plugin-react-native-intercom // also tried expo install

added keys to app.json

and when I run the project lib complains about missing prop

Thanks!

[2022-06-08 21:06] cmaycumber commented on #27
Thanks for opening this, I'll take a look into it and see If I can find out more about the issue!

[2022-06-11 03:17] ansh commented on #16
@cmaycumber So currently there is no way to use this library with jest (the package due to which this error occurs) and a version of this library that is above 1.3? Seems like a bug.

[2022-06-11 03:21] ansh opened #28 "TypeError when using Jest along with this package"
When I run my jest test scripts I get this error: `TypeError: Cannot read property 'UNREAD_COUNT_CHANGE_NOTIFICATION' of undefined`

In reference to #16, the only way to fix it is to install the v1.2.1 of this package. But, according to the README, if I am using Expo SDK 45, I have to use v1.3 or above of this package.

Seems to be impossible for anyone in SDK 45 and someone who is using jest to b

[2022-06-15 08:13] reena-amakein commented on #27
Can you please tried with this I resolved using below code.
 "plugins": [
      [
        "config-plugin-react-native-intercom",
        {
          "iosApiKey": "<Your Key>",
          "androidApiKey": "<Your Key>",
          "appId": "<App Id>",
          "iosPhotoUsageDescription": "Upload to support center"
        }
      ]
    ]

[2022-06-28 15:32] BenMcLoughlin opened #30 "TypeError: null is not an object (evaluating 'IntercomEventEmitter.UNREAD_COUNT_CHANGE_NOTIFICATION')"
Hi, I've followed the directions like so:

- I have Expo SDK 45.
- I Installed expo-cli@4.4.4
- I Installed @intercom/intercom-react-native@3.0.4

I followed this [article](https://gilshaan.medium.com/react-native-intercom-for-react-native-version-0-60-and-above-2facc5cf47aa) which explained how to get my keys and run it in the app with this import.

import Intercom from '@intercom/intercom-react-

[2022-06-29 18:29] #25 closed

[2022-06-29 18:32] cmaycumber commented on #30
@BenMcLoughlin ```Do I have to eject expo to get this to work?```

Make sure to run `expo prebuild` and then `expo run:ios` to get this to work. Although expo isn't technically `ejected` in the previous since, it does require native code so it needs to build the `ios` folder in order to run. You should still be able to use a custom version of expo go still when building with a dev client.

[2022-06-29 19:17] BenMcLoughlin commented on #30
Thanks so much for the reponse. When I run `expo run:ios` I get this error, I searched around and it might have to do with my Xcode version which is currently 13.2. I'm gonna upgrade it and let you know how it goes.

<img width="442" alt="Screen Shot 2022-06-29 at 12 08 15 PM" src="https://user-images.githubusercontent.com/45271003/176516643-2fb89fa3-7a81-4f55-a20b-a9f5edd4765a.png">

[2022-07-07 16:55] BenMcLoughlin commented on #30
I still can't get this to work. I've created a simple starter repo [here](https://github.com/BenMcLoughlin/intercom-expo-integration-attempt) to show exactly what I have.

Steps I followed:
1. yarn add @intercom/intercom-react-native, it gives me version ^3.0.5
2. expo install config-plugin-react-native-intercom, it gives me version ^1.4.3
3. I have expo-cli 5.4.7 and my expo SDK is ~45.0.0

My ap

[2022-07-21 14:16] GabrielDierks opened #34 "EU region support not working"
Hey! This is not your fault. I was talking to Intercom support today and it seems like the docs for React Native are outdated.

**So in order for iOS to work you need to add:**

[code]
instead of:

[code]

its updated in the [docs for native iOS](https://developers.intercom.com/installing-intercom/docs/ios-data-hosting-region-configuration)

Maybe you can also add this to your Readme since its sti

[2022-07-21 14:39] GabrielDierks commented on #34
I made a [PR](https://github.com/cmaycumber/config-plugin-react-native-intercom/pull/35)

Would be nice if you can merge this and release it soon because we need this in our implementation :)

[2022-08-02 10:44] AleksandarBisevac commented on #27
@cmaycumber  @DjordjePetrovic
Hi, I tried to move the logic to the app.config.js but still got the same error as you have. Could you share your solution maybe? Thanks

[2022-08-11 20:07] oliviercperrier opened #36 "Web support"
Does this config plugin supports expo web?

Thanks

[2022-08-12 18:13] alex-grifin opened #37 "Fails at run gradlew"
Running this it fails at run gradlew. The topline issue appears to be `error: package com.intercom.reactnative does not exist`.

The callstack looks like:
[code]

I tried to harcode ` implementation project(':intercom-react-native')` to the build.gradle but I get the same error.

[2022-08-22 21:14] fobos531 commented on #37
@alex-grifin This most likely means you haven't installed the `@intercom/intercom-react-native` package beforehand. Make sure to do it before building the app

[2022-08-22 21:25] fobos531 commented on #30
Hey all @louisbyrne89 @cmaycumber  @BenMcLoughlin @mthakkar815

What resolved it for me was applying the patch from this PR: https://github.com/intercom/intercom-react-native/pull/42

Afterwards, it works fine on latest react native

[2022-08-30 01:05] cmaycumber commented on #36
Not currently, if it's helpful I can share the code we've used to make web work on our own app.

[2022-08-30 01:05] cmaycumber commented on #34
#35

[2022-08-30 01:05] #34 closed

[2022-08-30 01:47] oliviercperrier commented on #36
Would be awesome. Thanks

[2022-09-12 16:18] 5290charlie commented on #30
Any updates on this issue? Still seeing this error, unable to resolve with ejected config changes...
Current versions:
[code]

[2022-09-12 16:20] fobos531 commented on #30
@5290charlie Have you tried applying the solution I proposed?

[2022-09-12 16:22] 5290charlie commented on #30
@fobos531 I did try bringing in those changes, but still unable to get a basic PoC integration working ... are the changes from that patch for Android only? I didn't see anything related to ios on that PR

[2022-09-12 16:23] fobos531 commented on #30
Yes, this is only needed on Android.

[2022-09-12 16:23] 5290charlie commented on #30
after applying that patch i saw this error
[code]

[2022-09-12 16:24] 5290charlie commented on #30
@fobos531 interesting, my team was seeing the same failures for both ios & android using expo dev, really hoping to find a solution to get intercom setup and working :crossed_fingers:

[2022-09-12 16:24] Arhane opened #38 "Intercom is not initialized on android"
### Problem:
Using Intercom on android I get the error message
[code]

### Details
Everything seems fine with internals of the android part of app
I build the android folder with `expo prebuild  -p android` and checked the contents of the `MainApplication.java`
At the file start
[code]
and `onCreate` method
[code]

I run my application with `eas build --platform android` and create an  expo server

[2022-09-12 16:32] cmaycumber commented on #30
@5290charlie This from my experience is because you're not using expo dev clients correctly.

Make sure you're using the command `expo run:ios` and `expo start --dev-client` **after** running the command `expo prebuild` to create the native iOS and Android folders.

Let me know if this helps.

[2022-09-12 18:04] 5290charlie commented on #30
@cmaycumber oh ok, so it is not usable with the "managed" workflow? needs to prebuild/eject in order to work? I will keep trying ... thanks for the update :+1:

[2022-09-12 18:45] cmaycumber commented on #30
@5290charlie Yes exactly! It's still sorta "managed" bc you should add the iOS and Android folders to the .gitignore and just let expo create them whenever the app builds.

Let me know if you have any questions!

[2022-09-12 18:47] cmaycumber commented on #30
Here's the dev client documentation for reference:

https://docs.expo.dev/development/getting-started/

[2022-09-12 23:11] 5290charlie commented on #30
@cmaycumber ok I was able to get past the import errors, and now I see this runtime error after attempting `registerUnidentifiedUser` method
[code]

I see their docs on adding lines to initialize with the api key + app id, but isn't that supposed to be part of this config plugin?
My understanding is that would be part of the expo config/build given the plugins config in `app.json`:
[code]

Am I mi

[2022-09-12 23:44] 5290charlie commented on #30
UPDATE: It works now on android after manually calling initialize with the app key + id as described in their docs :+1:

Just curious what I missed regarding the `app.json` config options and the usage of this plugin... trying to minimize the amount of "ejected" code to actively maintain haha

[2022-09-13 17:46] Arhane commented on #38
TL;DR The problem was `eas` and environment variables

The problem was with the environment variables. I loaded them with `dotenv` and  used them like `process.env.INTERCOM_IOS_AUTH_TOKEN` in `app.config.js`. But when I ran the build locally, the build was happening in another folder and didn't have access to environment variables

[2022-09-13 17:46] #38 closed

[2022-09-25 03:13] fedelernerldp commented on #30
We're having the same issue, following all the instructions for the installation & configuration,,

The only way of making it work is by ejecting?

[2022-09-26 12:58] cmaycumber commented on #30
Correct. Take a look at this: https://docs.expo.dev/development/getting-started/.

It's not an "ejection" persey; it's just leveraging expo dev-clients. You should be gitignoring the created ios and android folders and re-creating them every time a new developer builds or your app builds on a CI environment. At the end of the day you really shouldn't need to maintain any custom native code.

[2022-09-29 11:02] Norfeldt opened #41 "upgrade to @expo/config-plugins@5.0.0"
Is there any chance of upgrading to the latest `@expo/config-plugins`? 🙂

[2022-09-29 11:41] SimenB commented on #41
relevant discussion: https://github.com/jakobo/expo-community-flipper/issues/16#issuecomment-1220254201

[2022-10-04 18:49] cmaycumber commented on #41
Yeah I can do this it shouldn't be too bad!

[2022-10-15 21:17] gunnartorfis opened #42 "Option to prompt push notification permissions manually"
Currently, when the Intercom module is initialized, the plugin asks for push notification permissions straight away.

We would want to ask for that permission once the user is logged in, not before.

[2022-10-15 21:20] gunnartorfis commented on #42
https://github.com/cmaycumber/config-plugin-react-native-intercom/blob/0d1f0df4abd0dd91ef11e37cfb305e643497cbce/packages/intercom-react-native/src/withIntercomIOS.ts#L83

[2022-10-15 21:26] gunnartorfis commented on #42
My bad. I misunderstood the `isPushNotificationsEnabledIOS` prop. I thought that was for push notification forwarding.

[2022-10-15 21:26] #42 closed

[2022-10-28 21:59] MorenoMdz commented on #30
Hey Charlie, what do you mean by calling initialize? I don't see an init method in the Intercom RN SDK

[2022-10-29 00:18] MorenoMdz commented on #38
Interesting, I might be having the same issue, when you say it is running in a different folder how did you solve it?

[2022-10-31 09:02] saurabhg138 commented on #36
@cmaycumber is there any timeline for this issue? or is there any alternative that you can share

[2022-11-09 11:07] #41 closed

[2022-11-09 15:39] cmaycumber commented on #41
This should be in the latest version here: https://www.npmjs.com/package/config-plugin-react-native-intercom/v/1.6.10

[2022-11-09 20:31] nicolas-meilan opened #44 "eas development client crash on Android"
The developement client eas build crash on Android before show the expo UI.
When I make a build with non `developmentClient: true`, the app does not crash.

- expo version: 5.4.3
- expo sdk: 45
- @intercom/intercom-react-native": "^3.0.5"
- "config-plugin-react-native-intercom": "^1.6.10"

eas config:
[code]

plugin config:

[code]

Device crash log:

[code]

[2022-11-10 15:04] nicolas-meilan commented on #44
Sorry, this error is about another lib

[2022-11-10 15:04] #44 closed

[2022-11-18 14:11] Norfeldt commented on #28
Here is what I did

[code]

then in my jest setup file

[code]

[2022-11-29 14:16] ckrodrigues opened #45 "`@intercom/react-native` version 4"
First of all I'd like to thank you for developing this plugin.
I'm trying to make Intercom to work with our app and I installed `@intercom/react-native` v4.0.1 but I'm having multiple issues using it. First issue is that the iOS app crashes once I call `loginUnidentifiedUser` or `loginUserWithUserAttributes`. I also see `Something's gone wrong` when I call `Intercom.presentSpace(Space.helpCenter)`

[2022-11-30 15:12] enagorny commented on #45
I've just faced this issue as well. I'm new to intercom and just starting to use it. For now I've decided to use v3.0.5. But it will be great if this config plugin will work with v4 as it has a new features.
I'm glad to help you to adopt this to v4 but I don't know where to start.